<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<listener>

	<listener-class>com.github.wzpay.demo.MyListener</listener-class>
	
	</listener>
	
	<servlet>

	<servlet-name>RouteToNpmServer</servlet-name>
	
	<servlet-class>com.github.wxpay.sdk.RouteToNpmServer</servlet-class>
	
	</servlet>
	
	<servlet>

	<servlet-name>PayService</servlet-name>
	
	<servlet-class>com.github.wxpay.sdk.PayCallbackService</servlet-class>
	
	</servlet>
	
	<servlet>

	<servlet-name>Service</servlet-name>
	
	<servlet-class>com.github.wxpay.sdk.Service</servlet-class>
	
	</servlet>
	
	
	
	
	
	<servlet-mapping>
	
	<servlet-name>RouteToNpmServer</servlet-name>
	
	<url-pattern>/RouteToNpmServer</url-pattern>
	
	</servlet-mapping>
	
	<servlet-mapping>
	
	<servlet-name>PayService</servlet-name>
	
	<url-pattern>/PayService</url-pattern>
	
	</servlet-mapping>
	
	<servlet-mapping>
	
	<servlet-name>Service</servlet-name>
	
	<url-pattern>/Service</url-pattern>
	
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>